h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
input{
    margin: 10px;
}
#display_names{
border:1px solid green;
padding: 10px;
background-color: greenyellow;
border-radius: 10px;
width: 50%;
}
#display_name_with_sorting{
    border:1px solid red;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 10px;
    width: 50%;}